<!doctype html>

<html lang="en">
<head>
    <title>ClassRoom</title><!--Title of each individual page-->
    <link rel='stylesheet' type="text/css" href='../assets/Stylesheet/style.css' />
</head>

<body>
<main>
    <% if (data.v === 0){%>
        <div>
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="#">Create Room</a></li>
                <li><a href="#">Update Room</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
        <div>
            <img class="CoverPic" src="../assets/images/Sign.jpg" alt="UNCC Sign">
        </div>
    <h1 class="title">Welcome to my app!</h1>
    <%} else{%>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Create Room</a></li>
                <li><a href="#">Update Room</a></li>
                <li><a class="active" href="/About">About</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
        <div>
            <img class="CoverPic" src="../assets/images/Tower.jpg" alt="UNCC Tower" >
        </div>
        <h1 class="title">About Page</h1>
    <%}%>

</main>
</body>

</html>
